<div *ngIf="summary">
    <mat-card>
        <mat-card-title>Summary</mat-card-title>
        <table>
            <tr>
                <th>Budget</th>
                <td>{{summary.budget | number}}</td>
            </tr>
            <tr>
                <th>Spend</th>
                <td>{{summary.spend | number}}</td>
            </tr>
            <tr>
                <th>Remaining</th>
                <td>{{summary.remainingBudget | number}}</td>
            </tr>
            <tr>
                <th>Remaining Daily Avg</th>
                <td>{{summary.remainingDailyBudget | number:'1.0-2'}}</td>
            </tr>
            <tr>
                <th>Pending Payments</th>
                <td>{{summary.pendingPayments | number}}</td>
            </tr>
            <tr>
                <th>Days Left</th>
                <td>{{summary.remainingDays | number}}</td>
            </tr>
        </table>
    </mat-card>
</div>