.container {
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0% 5% 0% 5%;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

.row-container {
    display: inline-flex;
}

.category {
    padding-left: 10px;
    flex-grow: 2;
}