<div class="container" *ngIf="!isLoading">
    <h1>New Payment</h1>
    <div class="row-container">
        <mat-form-field [style.width.px]="120">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="newPayment.date">
            <mat-datepicker-toggle class="sizeable" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="category">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="newPayment.categoryId">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" [(ngModel)]="newPayment.description" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" step="1" [(ngModel)]="newPayment.amount" />
    </mat-form-field>


    <mat-form-field>
        <mat-label>Owner</mat-label>
        <mat-select [(ngModel)]="newPayment.userId">
            <mat-option *ngFor="let user of users" [value]="user.id">{{user.nick}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="newPayment.type">
            <mat-option *ngFor="let t of paymentTypes" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>