<div class="container">
  <h1>New Expense</h1>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput type="date" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="number" step="1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option>CategoryA</mat-option>
      <mat-option>CategoryB</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Owner</mat-label>
    <mat-select>
      <mat-option>Owner1</mat-option>
      <mat-option>Owner2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group>
    <mat-button-toggle value="normal">Normal</mat-button-toggle>
    <mat-button-toggle value="pending">Pending</mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-raised-button color="primary">Save</button>
</div>
