<mat-toolbar *ngIf="isAuthenticated">
    <div class="container">
        <a mat-button href="/">Badzeet</a>
        <a mat-button href="/payments?budgetId={{budgetId}}">List</a>
        <a mat-button color="primary" href="/new-payment">New</a>
        <button mat-button class="right" color="primary" (click)="logOut()">
      Logout
    </button>
    </div>
</mat-toolbar>
<div *ngIf="isAuthenticated == false">
    <mat-toolbar>
        <div class="container">
            <a mat-button href="/">Badzeet</a>
        </div>
    </mat-toolbar>
    <app-login></app-login>
</div>

<div *ngIf="isAuthenticated">
    <router-outlet></router-outlet>
</div>