<mat-toolbar *ngIf="isAuthenticated">
    <div class="container">
        <a mat-button href="/">Badzeet</a>
        <a mat-button href="/payments?budgetId={{budgetId}}&from={{from}}&to={{to}}">List</a>
        <a mat-button color="primary" href="/new-payment">New</a>
        <button mat-button class="right" color="primary" (click)="logOut()">
      Logout
    </button>
    </div>
</mat-toolbar>
<div *ngIf="isAuthenticated == false">
    <mat-toolbar>
        <div class="container">
            <a mat-button href="/">Badzeet</a>
        </div>
    </mat-toolbar>
    <app-login></app-login>
</div>

<p>budgetId:{{budgetId}}</p>
<p>from:{{from}}</p>
<p>to:{{to}}</p>
<router-outlet></router-outlet>